* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  color: white;
}

header img {
  width: 110px;
}

.flex {
  display: flex;
}

main {
  margin: auto;
}

form {
  margin: auto;
}

#input-name , #input-email {
  border: 2px solid blue;
  margin-right: 40px;
}

.margimBaixo {
  margin-bottom: 20px;
}

#evaluation-form {
  width: 675px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.boxFamili {
  border: 2px solid blue;
  margin-right: 40px;
}

.boxConteudo {
  border: 2px solid orange;
}

#trybewarts-forms-logo {
  height: 500px;
}

#familia {
  display: flex;
  flex-direction: column;
}
